* {
    font-family: IRANSans_FaNam;
}

:root {
    --nice-gray: #e7e7e7;
}

.datatable {
    border-radius: 4px;
    border-spacing: 0;
    direction: rtl;
}

.datatable td,
.datatable th {
    padding: 16px;
    margin: 0;
    border: 1px solid var(--nice-gray);
}

.datatable__heads {
    background: rgb(46, 46, 46);
    color: #e7e7e7;
}

.datatable td a {
    padding: 5px 8px;
    border: none;
    background: rgb(240, 103, 103);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
